.form-signin {
    width: 100%;
    max-width: 420px;
    padding: 15px;
    margin: auto;
    border: 1px solid rgba(0,0,0,.125);
    border-radius: .25rem;
}

.form-signin .checkbox {
    font-weight: 400;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: 10px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

a.return-link {
    text-decoration: none;
}

a.return-link:hover {
    text-decoration: underline!important;
}


